@page "/commentsViewer"
@using ArtisoraServer
@inject NotificationService notif
@inject NavigationManager nav
@inject DialogService dialog


<RadzenDialog />
<RadzenNotification />
<PageTitle>View Comments</PageTitle>
<div>
    @foreach(var x in allComments){
    <RadzenRow Gap="0" Class="rz-my-12 rz-mx-auto rz-border-radius-6 rz-shadow-10" Style="width: 100%; max-width: 800px; overflow: hidden;">
        <RadzenStack>
            <RadzenCard Orientation="Orientation.Vertical" Gap="20" class="rz-py-5">
                <RadzenText TextStyle="TextStyle.Body1"> 
                        @x.TextContent, @passedImageId
                </RadzenText>
            </RadzenCard>
        </RadzenStack>
    </RadzenRow>
    }
</div>


@code {
    [Inject]
    public ClientAPI? _api { get; set; }
    public int passedImageId;
    public ICollection<Message> allComments = new List<Message>();

    protected override async Task OnInitializedAsync()
    {
        allComments = await _api.MessagesAsync(passedImageId);
    }

}
