
@inherits LayoutComponentBase

<div >
@*    Full Height sidebar : https://blazor.radzen.com/layout *@    
    <RadzenLayout Style=" grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
        <RadzenHeader>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                <RadzenLink Path="/">
                    <RadzenLabel Text="ARTISORA" />
                </RadzenLink>
                <RadzenStack Gap="20" class="rz-ml-12" AlignItems="AlignItems.End">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" Gap="0">
                        <RadzenButton Variant="Variant.Text" ButtonStyle="ButtonStyle.Secondary" Shade="Shade.Darker">
                            <RadzenLink Path="Login" Text="Login" />
                        </RadzenButton>
                        <RadzenButton Variant="Variant.Text" ButtonStyle="ButtonStyle.Info" Shade="Shade.Darker">
                            <RadzenLink Path="Signup" Text="Sign Up" />
                        </RadzenButton>
                    </RadzenStack>
                </RadzenStack>
            </RadzenStack>
        </RadzenHeader>
        <RadzenSidebar @bind-Expanded="@sidebarExpanded">
            <RadzenPanelMenu>
                <RadzenPanelMenuItem Text="Home" Icon="home" Path="/"/>
                <RadzenPanelMenuItem Text="Showcase" Icon="" Path="/showcase" />
            </RadzenPanelMenu>
            <RadzenPanelMenu >
                <RadzenPanelMenuItem Visible=@viewWork Text ="View Your Work" Icon="dashboard" Path="/imageView" />
                <RadzenPanelMenuItem Visible=@viewUploadWork Text ="Upload A File" Icon="note_add" Path="/uploader" />
                <RadzenPanelMenuItem Visible=@viewContact Text="Contact a mentor" Icon="face" Path="/contactArtist" />
                <RadzenPanelMenuItem Visible=@viewMs Text ="View Your Mentorships" Icon="class" Path="/imageViewMentor" />
                <RadzenPanelMenuItem Visible=@viewShowcase Text ="Manage Showcase" Icon="dashboard" Path="/showcaseManager" />
            </RadzenPanelMenu>
        </RadzenSidebar>
        <RadzenBody>
            <div class="rz-p-4">
                @Body
            </div>
        </RadzenBody>
    </RadzenLayout>

</div>

@code {

    public bool sidebarExpanded = false;


    public static bool viewWork = false;
    public static bool viewUploadWork = false;
    public static bool viewContact = false;
    public static bool viewMs = false;
    public static bool viewShowcase = false;

    //setting up global variables to be accessed by the login function when the user sign in, dynamically adjusting the nav options
    public bool _viewWork {get { return viewWork; } set{ viewWork = value; }}
    public bool _viewUploadWork { get { return viewUploadWork; } set { viewUploadWork = value; } }
    public bool _viewContact { get { return viewContact; } set { viewContact = value; } }
    public bool _viewMs { get { return viewMs; } set { viewMs = value; } }
    public bool _viewShowcase { get { return viewShowcase; } set { viewShowcase = value; } }
   
    protected override async Task OnInitializedAsync()
    {
        
    }

    }